@model TwoFactorAuthenticationViewModel

<p>
    Please enter the code below in your authenticator App.
</p>

<p>
    @Model.Token
</p>

<form method="Post">
    <input hidden asp-for="Token"/>
    <div class="form-group">
        Enter Code:<input type="text" class="form-control" asp-for="Code"/>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>

</form>