<h1>Confirm Email</h1>

<div>
    <p> Your email doesn't exist.</p>
    <p>
        Please click <a asp-controller="Account" asp-action="Register"> Register</a> to sign up a new user.
    </p>
</div>
